{% extends 'base.html.twig' %}

{% block title %}[yummy]Recipes - My ingredients
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% if not ingredients.items is same as([]) %}
		<h1>My ingredients</h1>

		<a href="{{ path('app_ingredient.new') }}" class="btn btn-primary">
			Add your ingredient Here! 
		</a>



		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor  %}

		<div class="count mt-4">
			<h5>You've got
				{{ ingredients.getTotalItemCount }}
				ingredients in your list
			</h5>
		</div>

		<table class="table table-hover mt-4">
			<thead>
				<tr>
					<th scope="col">Number</th>
					<th scope="col">Name</th>
					<th scope="col">Price</th>
					<th scope="col">Creation date</th>
					<th scope="col"> Edit </th>
					<th scope="col"> delete </th>
				</tr>
			</thead>
			<tbody>
				{% for ingredient in ingredients %}
					<tr class="table-primary">
						<th scope="row">{{ ingredient.id }}</th>
						<td>{{ ingredient.name }}</td>
						<td>{{ ingredient.price }}</td>
						<td>{{ ingredient.createdAt|date('d/m/Y')}}</td>
						<td> 
							<a href="{{ path('app_ingredient.edit', { id: ingredient.id }) }}" class='btn btn-info'> Edit</a>
						</td>
						<td>
						<a href="{{ path('app_ingredient.delete', { id: ingredient.id }) }}" class='btn btn-danger'> Delete</a>
					</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(ingredients) }}
		</div>
		{% else %}
		<h4> There is nothing on your ingredients list!</h4>
		{% endif %}
	</div>
{% endblock %}

